.form{
    border-style: groove;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: RGB(250, 229, 181);
}

.box{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    margin: 1px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    display:flex;
}

.result-box{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin: 1px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    display:flex;
    text-align: center;
    background-color: #FFFDD0;

}

.buttons-reset {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 2px;
}

.buttons-calculate{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 2px;
}

.buttons-reset:hover{
    background-color: rgb(255, 151, 151);
}
.buttons-calculate:hover{
    background-color: rgba(105, 255, 120, 0.878);
}